{% extends 'base.html.twig' %}

{# Show details of a selected book #}
{% block body %}
    <h1>{{book.reference}}</h1>
    <p>{{book.author.lastname ~" "~ book.author.firstname}}</p>
    {% for book_category in book_categories %} 
        <p>{{book_category.category.label}}</p>
    {% endfor %}
    <a href="{{ path('book_list') }}">Retour</a>
{% endblock %}