{% extends 'base.html.twig' %}

{# Show details of a selected book #}
{% block body %}
    {% include '_components/nav.html.twig' %}
    <h1>{{book.reference}}</h1>
    <h2 class="text-center">De : {{book.author.firstname ~" "~ book.author.lastname}}</h2>
    {% for book_category in book_categories %} 
        <h3 class="text-center blockquote-footer">{{book_category.category.label}}</h3>
    {% endfor %}
    <div class="text-center">
        <a href="{{ path('book_list') }}" class="btn btn-outline-danger">Retour à la liste</a>
    </div>
{% endblock %}